body {
    font-family: Arial, sans-serif;
    background-color: #0D1117;
    color: #fff;
    margin: 0;
    padding: 0;
}

.cadastro {
    text-align: center;
}

.container {
    justify-content: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: brown;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#artigoForm {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#listaArtigos {
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.salvo {
    background-color: brown;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    color: black;
    background-color:darkgray;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 4px;
}

li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.link {
    display: flex;
    justify-content: space-between;
}